<%-include("partials/header")%>


<section class="head_nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light op">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyCourses</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <%if(rol==="admin"){%>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Create_Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/abc/1">View_Users</a>
            </li>
          <%}%>
          <li class="nav-item">
            <a class="nav-link" href="/user">User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>


<section id="title" class="colored-section  p-5 justify-content-center"></section>
  <div class="container">
    
  </div>
</section>




<section id="pricing" class="white-section p-3 m-3">
  <div class="row p-3 m-4">
    
          <% courses.forEach(function(course){ %>
    <div class="pricing-component col-lg-4 col-md-6">
      <div class="cardab">
        <div class="card-header">
          <h3>
            <%= course.course_title %> 
          </h3>
    
        </div>
        <div class="card-body">
          
          <p>Duration : <%= course.duration %></p>
          
            <p><%= course.start_date %></p>
          
          <p>Price : <%= course.status %></p>
          <form action="/<%= course.course_title %>">
            <button type="submit" class="form-control btn btn-dark btn-lg button2 main_button">Enroll</button>
          </form>
          </div>
          </div>
          </div>
          <% }); %>
    
  </div>



</section>
    

    <%-include("partials/footer")%>