<style>
  body{
    
    /* background-image: linear-gradient(135deg, #fbc6a4,#f4a9a8,#ce97b0); */
    background-image: url(/images/school.png);
    overflow-x: hidden;
    
}

input{
    width: 20%;
}

/* .op{
    background-color: #ce97b0;
} */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: -25px;
   
    
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: flex-end;
    margin-right: 65px;
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem!important;
    padding-left: 0.5rem;
    
}
/* User Page*/
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 30%;
    height: 30%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 30%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
section#pricing {
    padding-left: 40px;
    padding-right: 40px;
}
.container.emp-profile {
    background-image: url(/images/book.jpg);
    box-shadow: -5px 12px 15px 0px;
    margin-bottom: 20px;
    
}
.btn-dark {
    color: #fff;
    background-color: yellow;
    border-color: #212529;
}


.cardab {
    color: honeydew;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #766161;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    box-shadow: 8px 8px 8px #888888;
    margin-bottom: 20px;
    transition-property: width height box-shadow;
    transition-duration: 1s;
  transition-timing-function: ease-out;
  
    }
.cardab:hover{
    background-color: rebeccapurple;
    box-shadow:16px 8px 8px #888888;
    
}

    

    .email_link{
        text-align: center;
        width: 120px;
        height: 35px;
        border-radius: 9px;
        background-color:#a5e1ad ;
        margin-left: 50px;
        
    }

    .e_link{
        text-decoration: none;
        color: 4ca1a3;
    }

    .del{
        margin-top: 40px;
    }


    
      .line{
          align-self: center;
        width: 1000px;
        margin-left: 200px;
        margin-bottom: 30px;
        
        
      }

      
      
      
      .a2{
        text-decoration: none;
        line-height: 1.5;
        color: #6b727e;
        font-family: 'Muli', sans-serif;
      
      }
      
      
      .section10{
        background-color: #766161;
        color: #FFFFFF;
        height: 60px;
        text-align: center;
        /* margin-bottom: 0; */
        /* clear: both; */
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        
      }
      
      .tex{
        margin-left: 500px;
        margin-top: 20px;
        display: inline-block;
      
      }
      
      
      
      
      .aa{
        display: inline-block;
        margin-left: 300px;
      }
      .www{
        margin-left: 10px;
        margin-right: 10px;
      
      }


      /* Login */
      .my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
    

.log_button {
    margin-left: 17;
    margin-top: 12;
    width: 120;
}

.colu{
    
        background-color: bisque;
    
}

.pos-fixed {
    position: fixed;
}
.pos-relative {
    position: relative;
}

.footer_l{
    color: blanchedalmond;
}

.footer_l:hover{
    color: cadetblue;
}

.sv{
    height: 40px;
    width:40px;
    margin-left:180px;
    box-shadow: 8px 8px 8px #888888;
    background-color: paleturquoise;
    border-radius: 12px;
    transition-property: width height;
    transition-duration: 1s;
  transition-timing-function: ease-out;
   
}

.sv:hover{
    
    width: 60px;
    height: 60px;
}
.home{
    height: 35px;
    width: 35px;
}
.home:hover{
    color: indigo;
}
.bbox{
    background-color:mintcream;
    width: 40px;
    height: 35px;
    text-align: center;
    margin-left: 100px;
    border: none;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}
.bbox:hover{
    background-color:palegreen;
}
.bg-tight {
    background-color: #FFEEDB;
}
.navbar-bran{
    
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Rancho', serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
    margin-left: 25px;
    color: cornflowerblue;

    
  }
  .scholar{
    width: 100px;
  }
  .fon{
      color: sandybrown;
  }

  .separate{
      background-color:#232323;
      width: 280px;
      margin-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      border-radius: 12px;
      opacity: 0.9;
      
      flex-direction: column;
      
  }
  

      

      
</style>
<%-include("partials/header")%>



<section class="head_nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-tight op">
    <div class="container-fluid">
      <a class="navbar-bran" href="#">//MyCourses<span class="scholar material-icons">
        school
        </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><svg xmlns="http://www.w3.org/2000/svg" class="home" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg></a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <%if(rol==="admin"){%>
        
            <li class="nav-item">
              <a class="nav-link" href="/student/1">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Courses</a>
              </li>
          <%}else{%>
          <li class="nav-item">
            <a class="nav-link" href="/user">User</a>
          </li>
        <%}%>
        </ul>
      </div>
    </div>
  </nav>
</section>




    <section>
      <div class="container emp-profile">
        
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                      <img src="/images/student.png">
                    </div>
                </div>
                <% course.forEach(function(course){ %>
                 
                  <% if(name===course.course_title){%>

                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                  <%= course.course_name %>
                                </h5>
            
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-4">
                  <% if(rol==="admin"){ %>
                    <section class="separate">
                        <p>
                            <a class="btn btn-info" style="margin-left: 75px;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Students
                            </a>
            
                          </p>
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <ul>
                                    <% student.forEach(function(stud){ %>
                                    <li><%= stud.email %></li>
                                   
                                    <% }); %>
                                  </ul>
                                </div>
                          </div>
                      
                     
                      <div class="bbox">
                        <a class="e_link" href="/course/email/<%= course.course_title %>"><span class="material-icons">
                            email
                            </span></a>
                        </div>
                      
                        <% if(edit){ %>
                            
                            <div class="bbox">
                            <a class="e_link" href="/course/edit/<%= course.course_title %>"><span class="material-icons">
                                edit
                                </span></a>
                            </div>
                            <% } %>
                        
                    
                        <form action="/delete" method="POST">
                          <input type="hidden" class="form-control" name='course_title' value="<%= course.course_title %>" >
                          <div>
                            <button type="submit" formaction="/delete"  class="bbox" > <span class="material-icons">
                                delete
                                </span></button>
                          </div>
                          
                        </form>
                        
                      
                      
                      
                    </section>
                  <% } %>
                  <% if(rol==="student"){ %>
                    <div class="row justify-content-center ">
                        <div class="col-lg-6">
                         
                          <form id="student_id" action="/:<%= course.course_title %>" method="POST" class="registerForm">
                            <input type="hidden" class="form-control" name='course_title' value="<%= course.course_title %>" >
                            <input type="hidden" class="form-control" name="start_date"value="<%= course.start_date %>" >
                            <input type="hidden" class="form-control" name="duration"  value="<%= course.duration %>">
                            <input type="hidden" class="form-control" name="f_time"  value="<%= course.f_time %>">
                            <input type="hidden" class="form-control" name="t_time"  value="<%= course.t_time %>">
                            <%if(co_enrolled){ %>
                              <label>You have already enrolled for this course</label>
                           <% }else{ %>
                            <h4><%= enroll %></h4>
                            <button type="submit" formaction="/course/:<%= course.course_title %>" method="POST" class="btn btn-dark btn-lg button1 j registerButton "  >Enroll</button>
                            <%}%>
                          </form>
                            
                        </div>
                    </div>
                    <% } %>
                    
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>course_title</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="fon"><%= course.course_title %> </p>
                                        </div>
                                    </div>
                                    
                                  <div class="row">
                                    <div class="col-md-6">
                                        <label>course_description</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="fon"><%= course.course_description %>  </p>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                      <label>duration</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p class="fon"><%= course.duration %>  </p>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <label>start_date</label>
                                </div>
                                <div class="col-md-6">
                                    <p class="fon"><%= course.start_date %>    </p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>end_date</label>
                              </div>
                              <div class="col-md-6">
                                  <p class="fon"><%= course.end_date %>  </p>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <label>min</label>
                            </div>
                            <div class="col-md-6">
                                <p class="fon"><%= course.min %>  </p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <label>max</label>
                          </div>
                          <div class="col-md-6">
                              <p class="fon"><%= course.max %>  </p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <label>Price</label>
                        </div>
                        <div class="col-md-6">
                            <p class="fon"><%= course.price %>  </p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <label>Start_Time</label>
                      </div>
                      <div class="col-md-6">
                          <p class="fon"><%= course.f_time %>  </p>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <label>End_Time</label>
                    </div>
                    <div class="col-md-6">
                        <p class="fon"><%= course.t_time %>  </p>
                    </div>
                </div>
                
                                  </div>
                                  <% }%>
    <% }); %>
                    </div>
                </div>
                
            </div>
                  
    </div>
    </section>

   
    
    

    <%-include("partials/footer")%>