<%-include("partials/header")%>

<section class="head_nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-tight op">
        <div class="container-fluid">
          <a class="navbar-bran" href="#">//MyCourses<span class="scholar material-icons">
            school
            </span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><svg xmlns="http://www.w3.org/2000/svg" class="home" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <%if(rol==="admin"){%>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Subjects
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% courses.forEach(function(course){ %>
                  <a class="dropdown-item" href="/course/<%= course.course_title %>"><%= course.course_title %></a>
    
                  <% }); %>
                </div>
              </div>
              
    
                <li class="nav-item">
                  <a class="nav-link" href="/student/1">Students</a>
                </li>
              <%}else{%>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Subjects
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% students.forEach(function(stu){ %>
                    <a class="dropdown-item" href="/course/<%= stu.course_title %>"><%= stu.course_title %></a>
      
                    <% }); %>
                  </div>
                </div>
              <%}%>
            </ul>
          </div>
        </div>
      </nav>
</section>
<%if(message.length>0){%>
  <div style="width: 200px; color:indigo; height:30px; background-color:rgb(108, 214, 2); border-radius: 12px; text-align: center; margin-left: 1350px;">
    <%= message %>
  </div>
  
<%}%>

<section>
  <div class="container emp-profile">
    
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  <img src="/images/student.png">
                </div>
            </div>
            <% user.forEach(function(use){ %>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                              <%= use.name %>
                            </h5>
        
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4">
              <% if(rol==="admin"){ %>
                <div class="sep">
                <h5 style="margin-left: 35px;">Click below to add a new course :</h5>
              <a href="/course/add-course" ><svg xmlns="http://www.w3.org/2000/svg" class="sv" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg></a>
            </div>
              <%}%>
                
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= use.name %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= use.email %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= use.phone %></p>
                                    </div>
                                </div>
            
                              </div>
                              <%}) %>
                </div>
            </div>
            <section id="pricing" class="white-section">
              <h2 class="heading1" style="margin-top: 14px; margin-left: 14px;">Your Courses : </h2>
              <p></p>
              <div class="row">
               <% if(rol==="admin"){ %>
                  <% courses.forEach(function(course){ %>
                    <div class="pricing-component col-lg-4 col-md-6">
                        <div class="cardab">
                          
                          <div class="card-body">
                            <h3>
                              <%= course.course_title %> 
                            </h3>
                            <p>Duration : <%= course.duration %></p>
                            <p><%= course.start_date %></p>
                            <form action="/course/<%= course.course_title %>">
                              <button type="submit" class="form-control btn btn-dark btn-lg button2 main_button">Details</button>
                            </form>
                            </div>
                            </div>
                            </div>
                <% }); %>
               <% }else{%>
                <% students.forEach(function(stu){ %>
                  <div class="pricing-component col-lg-4 col-md-6">
                      <div class="cardab">
                        <div class="card-header">
                          <h3>
                            <%= stu.course_title %> 
                          </h3>
                        </div>
                        <div class="card-body">
                          
                          <p>Duration : <%= stu.duration %></p>
                          <p><%= stu.start_date %></p>
                          <form action="/course/<%= stu.course_title %>">
                            <button type="submit" class="form-control btn btn-dark btn-lg button2 main_button">Details</button>
                          </form>
                          </div>
                          </div>
                          </div>
              <% }); %>
               <% } %>
                 
          </section>
        </div>
              
</div>
</section>





<%-include("partials/footer")%>